/!!!!!.xcf
/aaa.xcf
/Freddy.png
/gra copy.html
/img do skopiowania
/imgTEMP
/kamera0.xcf
/kopiowanie
/layout.xcf
/layoutLepszy.png
/layoutLepszy.xcf
/mapanowa.xcf
/mapastara.xcf
/obraz.xcf
/obrazyrel.xcf
/skrypt copy.js
/style copy.css
/tekst.txt