/*Ogólne*/
body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-image: url("img/biuro/nikt.jpg");
    background-size: contain;
    position: relative;
}
#obrazek{
    background-image: url("img/biuro/tlo.jpg");
    background-size: contain;
    position: absolute;
    z-index: -1;
}
#wiatrak{
    background-image: url("img/gif/wiatrak.gif");
    background-size: contain;
    position: absolute;
}
/*Obie strony*/
.drzwiPrzycisk{
    position: absolute;
    width: 60%;
    height: 30%;
    border: transparent;
    background-color: transparent;
}
.swiatloPrzycisk{
    position: absolute;
    width: 60%;
    height: 30%;
    border: transparent;
    background-color: transparent;
}
/*Lewa strona*/
#drzwiLewo{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/biuro/drzwi/lewe/0.png");
    background-size: contain;
}
#przyciskiLewo{
    position: absolute;
    top: 40%;
    left: 16%;
    width: 3.5%;
    height: 17%;
    background-image: url("img/biuro/przyciski/lewenic.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#drzwiPrzyciskLewo{
    top: 7%;
    left: 25%;
}
#swiatloPrzyciskLewo{
    top:53%;
    left: 25%;
}
/*Prawa strona*/
#drzwiPrawo{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("img/biuro/drzwi/prawe/0.png");
    background-size: cover;
}
#przyciskiPrawo{
    position: absolute;
    top: 40%;
    right: 15.3%;
    width: 3.5%;
    height: 17%;
    background-image: url("img/biuro/przyciski/prawenic.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#drzwiPrzyciskPrawo{
    top: 7%;
    right: 25%;
}
#swiatloPrzyciskPrawo{
    top:53%;
    right: 25%;
}
/*Kamery*/
#panelAnimacja{
    position: absolute;
    display: none;
    background-image: url("img/gif/kameryUp.gif");
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
#kameryPrzycisk{
    position: absolute;
    bottom: 0%;
    left: 20%;
    width: 47%;
    height: 10%;
    background-image: url("img/kamery/przycisk.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
}
#panelKamer{
    position: absolute;
    display: none;
}
#linie{
    position: absolute;
    background-image: url("img/kamery/przycisk.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#audioonly{
    position: absolute;
    display: none;
    background-image: url("img/kamery/8/audio.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#szum{
    position: absolute;
    background-image: url("img/gif/static.gif");
    background-size: contain;
    opacity: 0.2;
}
#panelImg{
    position: absolute;
    background-image: url("img/gif/static.gif");
    background-size: contain;
}
#widokKamera{
    position: absolute;
    background-image: url("img/kamery/0/wszyscy.jpg");
    background-size: contain;
}
#mapa{
    position: absolute;
    background-image: url("img/gif/mapa.gif");
    background-size: contain;
}
#nagrywanie{
    position: absolute;
    width: 4%;
    height: 10%;
    top: 7%;
    left: 5%;
    background-image: url("img/kamery/nagrywanie.png");
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.przyciskKMR{
    position: absolute;
    width: 4.4%;
    height: 5%;
    background-size: contain;
    border: none;
}
#przyciskKam0{
    bottom: 48%;
    right: 21%;
    background-image: url("img/kameraPrzyciski/kam0off.jpg");
}
#przyciskKam1{
    bottom: 40.75%;
    right: 22%;
    background-image: url("img/kameraPrzyciski/kam1off.jpg");
}
#przyciskKam2{
    bottom: 13.5%;
    right: 21%;
    background-image: url("img/kameraPrzyciski/kam2off.jpg");
}
#przyciskKam3{
    bottom: 8%;
    right: 21%;
    background-image: url("img/kameraPrzyciski/kam3off.jpg");
}
#przyciskKam4{
    bottom: 16%;
    right: 27%;
    background-image: url("img/kameraPrzyciski/kam4off.jpg");
}
#przyciskKam5{
    bottom: 13.5%;
    right: 12.7%;
    background-image: url("img/kameraPrzyciski/kam5off.jpg");
}
#przyciskKam6{
    bottom: 8%;
    right: 12.7%;
    background-image: url("img/kameraPrzyciski/kam6off.jpg");
}
#przyciskKam7{
    bottom: 36.5%;
    right: 31%;
    background-image: url("img/kameraPrzyciski/kam7off.jpg");
}
#przyciskKam8{
    bottom: 18%;
    right: 6%;
    background-image: url("img/kameraPrzyciski/kam8off.jpg");
}
#przyciskKam9{
    bottom: 36.5%;
    right: 5%;
    background-image: url("img/kameraPrzyciski/kam9off.jpg");
}
#przyciskKam10{
    bottom: 29%;
    right: 25%;
    background-image: url("img/kameraPrzyciski/kam10off.jpg");
}   

.niewidzialne{
    opacity: 0;
}
#jumpscare{
    display: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

#czas{
    text-align: right;
    position: absolute;
    width: 7%;
    height: 5%;
    right: 3%;
    top: 4.3%;
    background-image: url("img/interfejs/12am.png");
    background-size: contain;
    background-repeat: no-repeat;
}   
#noc{
    text-align: right;
    position: absolute;
    width: 5%;
    height: 2.3%;
    right: 3%;
    top: 10.5%;
    background-image: url("img/interfejs/noc1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#powerleft{
    position: absolute;
    width: 10%;
    height: 7%;
    bottom: 7%;
    left: 4%;
    background-image: url("img/interfejs/powerleft.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#bateria1{
    position: absolute;
    width: 5%;
    height: 3%;
    left: 14.7%;
    bottom: 11.8%;
    background-image: url("img/interfejs/9.png");
    background-size: contain;
    background-repeat: no-repeat;

}
#zapasowy{
    background-color: black;
    display: none;
    position: absolute;
}
#bateria2{
    position: absolute;
    width: 5%;
    height: 3%;
    left: 16.2%;
    bottom: 11.8%;
    background-image: url("img/interfejs/9.png");
    background-size: contain;
    background-repeat: no-repeat;

}
#procent{
    position: absolute;
    width: 8%;
    height: 2%;
    bottom: 11.7%;
    left: 17.8%;
    background-image: url("img/interfejs/procent.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#usage{
    position: absolute;
    width: 5%;
    height: 5%;
    bottom: 3.5%;
    left: 4%;
    background-image: url("img/interfejs/usage.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#zuzycie{
    position: absolute;
    width: 7.5%;
    height: 4.5%;
    bottom: 5%;
    left: 10%;
    background-image: url("img/interfejs/zuzycie1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.wysokosc{
    width: 1920px;
    height: 1080px;
}

#gluchy{
    width: 10%;
    height: 10%;
    position: absolute;
    top: 3%;
    left: 3%;
    background-image: url("img/interfejs/gluchy.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#nosek{
    width: 1%;
    height: 1.2%;
    position: absolute;
    top: 32.4%;
    left: 42.2%;
}
#ralph{
    position: absolute;
    width: 6.5%;
    height: 3%;
    top: 5%;
    left: 5%;
    background-image: url("img/interfejs/muteRalph.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}