/*Ogólne*/
body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-image: url("img/biuro/nikt.jpg");
    background-size: contain;
    position: relative;
}
#obrazek{
    background-image: url("img/biuro/tlo.jpg");
    background-size: contain;
    position: absolute;
    z-index: -1;
}
#wiatrak{
    background-image: url("img/gif/wiatrak.gif");
    background-size: contain;
    position: absolute;
}
/*Obie strony*/
.drzwiPrzycisk{
    position: absolute;
    width: 60%;
    height: 30%;
    border: transparent;
    background-color: transparent;
}
.swiatloPrzycisk{
    position: absolute;
    width: 60%;
    height: 30%;
    border: transparent;
    background-color: transparent;
}
/*Lewa strona*/
#drzwiLewo{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("img/biuro/drzwi/lewe/0.png");
    background-size: contain;
}
#przyciskiLewo{
    position: absolute;
    top: 40%;
    left: 16%;
    width: 3.5%;
    height: 17%;
    background-image: url("img/biuro/przyciski/lewenic.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#drzwiPrzyciskLewo{
    top: 7%;
    left: 25%;
}
#swiatloPrzyciskLewo{
    top:53%;
    left: 25%;
}
/*Prawa strona*/
#drzwiPrawo{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("img/biuro/drzwi/prawe/0.png");
    background-size: cover;
}
#przyciskiPrawo{
    position: absolute;
    top: 40%;
    right: 15.3%;
    width: 3.5%;
    height: 17%;
    background-image: url("img/biuro/przyciski/prawenic.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#drzwiPrzyciskPrawo{
    top: 7%;
    right: 25%;
}
#swiatloPrzyciskPrawo{
    top:53%;
    right: 25%;
}
/*Kamery*/
#kameryPrzycisk{
    position: absolute;
    bottom: 0%;
    left: 20%;
    width: 47%;
    height: 10%;
    background-image: url("img/kamery/przycisk.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
}
#panelKamer, #wylaczone{
    position: absolute;
    display: none;
}
#szum{
    position: absolute;
    background-image: url("img/gif/static.gif");
    background-size: contain;
    opacity: 0.2;
}
#panelImg{
    position: absolute;
    background-image: url("img/gif/static.gif");
    background-size: contain;
}
#widokKamera{
    position: absolute;
    background-image: url("img/kamery/0/wszyscy.jpg");
    background-size: contain;
}
#mapa{
    position: absolute;
    background-image: url("img/kamery/overlay.png");
    background-size: contain;
}
#nagrywanie{
    position: absolute;
    width: 4%;
    height: 10%;
    top: 7%;
    left: 5%;
    background-image: url("img/kamery/nagrywanie.png");
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.przyciskKMR{
    position: absolute;
    width: 4.4%;
    height: 5%;
}
#przyciskKam0{
    bottom: 48%;
    right: 21%;
    background-image: url("img/kameraPrzyciski/kam0off.jpg");
    background-size: contain;
}
#przyciskKam1{
    bottom: 40.75%;
    right: 22%;
    background-image: url("img/kameraPrzyciski/kam1off.jpg");
    background-size: contain;
}
#przyciskKam2{
    bottom: 13.5%;
    right: 21%;
    background-image: url("img/kameraPrzyciski/kam2off.jpg");
    background-size: contain;
}
#przyciskKam3{
    bottom: 8%;
    right: 21%;
    background-image: url("img/kameraPrzyciski/kam3off.jpg");
    background-size: contain;
}
#przyciskKam4{
    bottom: 16%;
    right: 27%;
    background-image: url("img/kameraPrzyciski/kam4off.jpg");
    background-size: contain;
}
#przyciskKam5{
    bottom: 13.5%;
    right: 12.7%;
    background-image: url("img/kameraPrzyciski/kam5off.jpg");
    background-size: contain;
}
#przyciskKam6{
    bottom: 8%;
    right: 12.7%;
    background-image: url("img/kameraPrzyciski/kam6off.jpg");
    background-size: contain;
}
#przyciskKam7{
    bottom: 36.5%;
    right: 31%;
    background-image: url("img/kameraPrzyciski/kam7off.jpg");
    background-size: contain;
}
#przyciskKam8{
    bottom: 18%;
    right: 6%;
    background-image: url("img/kameraPrzyciski/kam8off.jpg");
    background-size: contain;
}
#przyciskKam9{
    bottom: 36.5%;
    right: 5%;
    background-image: url("img/kameraPrzyciski/kam9off.jpg");
    background-size: contain;
}
#przyciskKam10{
    bottom: 29%;
    right: 25%;
    background-image: url("img/kameraPrzyciski/kam10off.jpg");
    background-size: contain;
}   

.niewidzialne{
    opacity: 0;
}
#jumpscare{
    display: none;
    background-size: contain;
    position: absolute;
}

#czas{
    text-align: right;
    position: absolute;
    width: 20%;
    height: 10%;
    right: 2%;
    top: 0%;
    font-size: 2.5vw;
    color: white;
    font-family: arial;
}   
#noc{
    text-align: right;
    position: absolute;
    width: 15%;
    height: 10%;
    right: 2%;
    top: 7.5%;
    font-size: 1.5vw;
    color: white;
    font-family: arial;
}
#bateria{
    position: absolute;
    width: 15%;
    height: 10%;
    left: 3%;
    bottom: 9%;
    font-size: 3vw;
    color: white;
}
#zuzycie{
    position: absolute;
    width: 15%;
    height: 10%;
    bottom: 7%;
    left: 5%;
    background-image: url("img/interfejs/zuzycie1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#procent{
    display: none;
    position: absolute;
    width: 15%;
    height: 10%;
    bottom: 17%;
    left: 5%;
    background-image: url("img/interfejs/procent.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.wysokosc{
    width: 1920px;
    height: 1080px;
}